// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  text-align: center;
}

.users {
  display: inline-block
}

.userList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  width: 100%;
}

.user {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid black;

}
